[Unit]
Description=Docker - Nextcloud container
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="NEXTCLOUD_DOCKER=/home/tim/workspace/docker/nextcloud_docker/"
ExecStart=/home/tim/workspace/docker/nextcloud_docker/scripts/start.sh
ExecStop=/home/tim/workspace/docker/nextcloudI_docker/scripts/stop.sh

[Install]
WantedBy=default.target
				
